[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-openai = "*"
langchainhub = "*"
ollama = "*"
langchain-ollama = "*"
tweepy = "*"
flask = "*"
black = "*"
pypdf = "*"
faiss-cpu = "*"
beautifulsoup4 = "*"
tiktoken = "*"
unstructured = "*"
nltk = "*"
fastapi = "*"
jinja2 = "*"
uvicorn = "*"
streamlit = "*"
streamlit-chat = "*"
tqdm = "*"
isort = "*"
langchain-pinecone = "*"
qrcode = "*"
langchain-experimental = "*"
langchain = "*"
langchain-community = "*"
pydantic = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.11"
